pandas==2.1.0
numpy==1.26.4
requests
redis
prettytable
pymysql
chardet

pyecharts==2.0.8
dbutils
apscheduler
tenacity
flask
flask-login>=0.6.3,<0.7
gevent
tornado>=6.5.1,<7
sqlalchemy
lark-oapi

mytt
matplotlib
tqdm
ipywidgets
pinyin
setuptools
scipy

futu-api
ccxt
baostock
polygon-api-client
alpaca-py
ib_insync
akshare
tqsdk
openai
playwright

pyfolio-reloaded
dtaidistance